.title {
  margin: 0;
  width: 100%;
  min-width: 0;
}

.header {
  padding-bottom: var(--mantine-spacing-xs);
}

.body {
  padding-bottom: 0;
  min-width: 0;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: calc(50vh + 300px);
  min-width: 0;
  overflow-x: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: var(--mantine-color-body);
  bottom: 0;
  width: 100%;
  min-width: 0;
  z-index: 400;
  padding: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-xs);
}

@mixin smaller-than $mantine-breakpoint-sm {
  .header {
    padding: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-xs);
  }

  .body {
    padding: var(--mantine-spacing-sm);
    padding-top: 0;
  }

  .footer {
    padding: var(--mantine-spacing-sm);
    padding-top: var(--mantine-spacing-xs);
  }

  .content {
    max-height: 46vh;
  }
}
